.Footer {
    background-color: black;
    width: 100%;
    height: 75px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 18px;
}

@media (max-width: 950px) {
    .Footer{
        font-size: 16px;
    }
}

@media (max-width: 850px) {
    .Footer{
        font-size: 15px;
    }
}
@media (max-width: 550px) {
    .Footer{
        font-size: 15px;
    }
}